USE [MMORPG]
GO
/****** Object:  StoredProcedure [dbo].[SP_CreateCharacter]    Script Date: 2026-08-05 오후 4:26:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Ko
-- Create date: 
-- Description:	
-- =============================================
CREATE PROCEDURE [dbo].[SP_CreateCharacter] 
	@AccountId bigint = 0, 
	@Slot smallint = 0,
	@Name nvarchar(100) = NULL
AS
BEGIN
	SET NOCOUNT ON;

	DECLARE @CharacterID bigint;
	DECLARE @CreatedAt datetime = GETDATE();

	BEGIN TRY
		BEGIN TRAN;

		IF EXISTS (
			SELECT 1
			FROM dbo.[Character]
			WHERE AccountID = @AccountId AND Slot = @Slot
		)
		BEGIN
			ROLLBACK;
			SELECT 1 AS ResultCode, 0 AS CharacterID;
			RETURN;
		END

		INSERT INTO dbo.[Character] (AccountID, Slot, Name, Level, Experience, CreatedAt) 
		VALUES (@AccountId, @Slot, @Name, 1, 0, @CreatedAt);

		SET @CharacterID = CONVERT(bigint, SCOPE_IDENTITY());

		INSERT INTO dbo.[CharacterPosition] (CharacterID, MapID, PosX, PosY, PosZ, Yaw)
		VALUES (@CharacterID, 1, 0, 1, 0, 0);

		COMMIT;

		SELECT 0 AS ResultCode, @CharacterID AS CharacterID, @CreatedAt AS CreatedAt;
	END TRY
	BEGIN CATCH
		IF @@TRANCOUNT > 0
			ROLLBACK;

		SELECT 100 AS ResultCode, 0 AS CharacterID;


	END CATCH
END