USE [MMORPG]
GO
/****** Object:  StoredProcedure [dbo].[SP_EnterWorld]    Script Date: 2026-07-29 오후 3:23:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		milrow
-- Create date: 
-- Description:	
-- =============================================
CREATE PROCEDURE [dbo].[SP_EnterWorld] 
	@AccountId bigint = 0,
	@characterId bigint = 0
AS
BEGIN
	SET NOCOUNT ON;
	SELECT a.CharacterID, a.AccountID, a.Name, a.Level, b.MapID, b.PosX, b.PosY, b.PosZ, b.Yaw
	FROM dbo.[Character] AS a LEFT JOIN dbo.[CharacterPosition] AS b
	ON a.CharacterID = b.CharacterID
	WHERE a.AccountID = @AccountId
	AND a.CharacterID = @CharacterId;
    
END
